body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("new-york.jpg");
  background-size: cover;
  color: white;
}
 
.navbar {
  background: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
 
.nav-links {
  list-style: none;
  display: flex;
}
 
.nav-links li {
  margin: 0 10px;
}
 
.nav-links a {
  color: white;
  text-decoration: none;
}

 .logo-img{
    height: 25px;
    width: auto;
}
.search-box input {
  padding: 5px;
}
 
.header {
  color: white;
  text-align: left;
  padding: 100px 40px;
  padding-left: 150px;
}
 
.results-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
 
.card {
  background: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 250px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
 
.card img {
  width: 100%;
  border-radius: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1.5px solid #ccc;
    border-radius: 30px;
    padding: 5px 10px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  }
   
  .search-container input {
    border: none;
    outline: none;
    padding: 8px 12px;
    font-size: 14px;
    flex: 1;
    border-radius: 30px;
  }
   
  .search-container button {
    color: white;
    background: #007f66;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 10px;
  }
   
  .search-icon {
    width: 18px;
    height: 18px;
  }
   
  #clearBtn {
    font-size: 13px;
    color: white;
    background: #007f66;
    padding: 6px 12px;
    margin-left: 6px;
    transition: background 0.3s;
  }
.item_name{
   font-size: 15px;
   align-items: left;
   color: #000;
}

.item_description{
    font-size: 15px;
    color: #000;
 }
